.contact {
  height: 100vh;
  margin-top: -50px;
  color: white;
  margin-left: 7rem;
  position: relative;
}
.contact h2 {
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
  color: #dcfe50;
}
.contact h3 {
  color: #dcfe50;
}
.contact .container1 {
  display: flex;
  justify-content: start;
  align-items: first baseline;
  gap: 2rem;
}
.contact .details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  flex: 3;
}
.contact input {
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
}
.contact textarea {
  background: none;
  outline: none;
  border: 2px solid white;
  width: 94%;
  color: white;
  padding: 10px;
}
.contact .socials {
  flex: 1;
  width: 25%;
}
.contact img {
  height: 25px;
}
.contact #btn {
  width: 200px;
  margin-left: 0;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px 0px;
  background-color: #000;
  color: white;
  outline: none;
  border: 2px solid white;
  cursor: pointer;
}
.contact #btn:hover {
  background-color: #dcfe50;
  color: black;
}
.contact .links1 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact .links1 img {
  height: 30px;
}
.contact .special {
  height: 35px;
}
.contact .links1 .special {
  height: 35px;
}
